
<div class='container row col-md-12 col-sm-6'>
  <div class='col-md-8 col-sm-6'>
    <h1>Quiz Master</h1>
  </div>
  <div class='col-md-12'>
    <img "img-responsive" src='/public/photos/qm2_logo.jpg'>
    <img "img-responsive" src='/public/photos/background2.jpg'>
    <img "img-responsive" src='/public/photos/background6.jpeg'>
  </div>
  <div class='col-md-12 col-sm-6'>
    <h3>
      Welcome to Quizmaster! Quizmaster let's you take challenging quizzes as well as make your own.</br></br>
      Feel free to test and build your knowledge.</br></br>
      Earn badges, rewards and bragging rights.</br></br>
      Click on Quizzes tab to begin making or taking quizzes now!</br></br>
    </h3>
  </div>
</div>

<script src="/public/js/static_pages/index.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/index.css">
