h1 {
  font-family: 'Rock Salt', cursive; font-weight: 400; font-size: 60px;

}

.nav {
  font-size: 30px;
}

.btn {
  padding-bottom: 5px;
}

body {
  font-family: 'Permanent Marker', cursive; font-weight: 500; font-size: 30px;
  background-image: url(/public/photos/background.jpg);
}